@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
// font-family: 'Finger Paint', cursive;
// font-family: 'Special Elite', cursive;

body {
  display: flex;
  // min-height: 100vh;
  flex-direction: column;
  height: 100%;
  background-color: black;
  font-size: 1em;
  font-family: 'Special Elite';

  a {
    text-decoration: underline;
    color: black;
  }
}

html {
  height: 100%;
}

header {
  background-color: white;
  font-size: 1em;
  height: 1em;
  font-family: 'Special Elite';
  padding: 15px;
  border: 1px black solid;

  span {
    font-weight: bold;
  }
}

.container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  background-color: white;
  border: 1px black solid;
  padding-left: 10px;

  p:first-of-type {
    text-decoration: underline;
    font-size: 1.5em;
  }

  p:nth-of-type(2) {
    font-weight: bold;
  }
  li,
  ul {
    margin-bottom: 1.5em;
  }
}

.aside {
  flex: 0 0 18em;
  border: 1px black solid;
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 52%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(52%, rgba(20,20,20,1)), color-stop(55%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 52%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 52%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 52%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 52%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#000000', endColorstr='#ffffff', GradientType=0 );

  img {
    padding-top: 50px;
    height: auto;
    width: 100%;
  }
  p {
    text-align: center;
  }
  span {
    font-weight: bold;
  }
}

.nav {
  order: -1;
  flex: 0 0 10em;
  background-color: white;
  border: 1px black solid;

  #toggle {
    display: inline-block;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transform: translate(60px, 30px);
    background-color: white;
    z-index: 1;

    .bar1 {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
      transition: all 0.1s;
      z-index: 1;
      content: "";
      position: absolute;
      left: 0;
      top: -15px;
    }

    .bar2 {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
      transition: all 0.1s;
      z-index: 1;
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
    }

    .bar3 {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
      transition: all 0.1s;
      z-index: 1;
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
  // change span 1
  .change_bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  // change span 2
  .change_bar2 {
    opacity: 0;
  }
  // change span 3
  .change_bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
  }

  #menu {
    transform: translate(15px, 50px);
    color: black;
    border: 2px solid black;
    width: 120px;
    height: 400px;
    margin: auto;
    text-align: left;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    visibility: hidden;
    z-index: 2;
    position: fixed;
  }

  li,
  li a,
  ul {
    list-style: none;
    font-size: 1em;
    color: black;
    margin-bottom: 40px;
  }

// li:nth-child(even) {
//     text-align: right;
//     text-decoration: underline;
//     display: none;
//   }
  li a {
    color: black;
    text-decoration: none;
    transition: all 0.5s;
  }

  li a:focus,
  li a:hover {
    color: black;
  }

  p,
  p a {
    text-align: center;
    color: black;
  }

  ul {
    margin-left: -30px;
    margin-top: 20px;
  }
}

footer {
  height: 1em;
  background-color: white;
  border: 1px black solid;
  font-family: 'Special Elite';
  text-align: right;
  padding: 15px;

  span {
    font-weight: bold;
  }
}
